/* element selector */

h1{
    color: pink;
}
p{
    color: rgb(217, 255, 0);
}

/* ------------------------------ */

/* ID selector */
#sam{
    background-color: chartreuse;
}

/* ------------------------------ */

/* class selector */
.samarth{
    background-color: cornflowerblue;
}

/* ------------------------------ */
/* attribute selector */

/* input{ -> wrong approach
    background-color: aqua;
} */

input[type="text"]{
    background-color: aqua;
}
input[type="password"]{
    background-color: rgb(234, 0, 255);
}

/* ------------------------------ */
/* universal seelctor */
*{
    border: 5px solid purple;
}

